body {
	background-image: url('bg.png');
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 70px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.3);
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
	text-align: center;
}

div.hanoiTower {
	position: absolute;
	margin-left: -198px;
	left: 50%;
	float: left;
	height: 120px;
	width: 396px;
}
	div.hanoiTower div.pin {
		float: left;
		height: 120px;
		width: 120px;
		margin: 0 6px;
		border-radius: 10px;
		background-color: rgba(192, 192, 192, 0.3);
	}
	div.hanoiTower div.pin:hover {
		background-color: rgba(192, 192, 192, 0.6);
	}
	div.hanoiTower div.discLayer {
		float: left;
		height: 30px;
		width: 120px;
	}
	div.hanoiTower div.disc {
		background-color: silver;
		border-top: 4px solid silver;
		border-bottom: 4px solid silver;
		border-radius: 10px;
		height: 20px;
		margin: 2px auto;
	}
	div.hanoiTower div.disc span {
		background-color: #fff;
		display: block;
		margin: 0 auto 0 auto;
		height: 20px;
		width: 20px;
		text-align: center;
		line-height: 150%;
		border-radius: 50%;
	}
	div.hanoiTower div.size1 {
		width: 30px;
	}
	div.hanoiTower div.size2 {
		width: 60px;
	}
	div.hanoiTower div.size3 {
		width: 90px;
	}
	div.hanoiTower div.size4 {
		width: 120px;
	}

	span.hanoiCounter {
		background-color: rgba(192, 192, 192, 0.4);
		color: #949494;
		padding: 3px 8px;
		border-radius: 10px;
	}